//-link to the header.pug file in the partials folder in views
extends partials/header

//-link to the block position in header.pug file in the partials folder in views
block content
    if (message)
        h1#h1retrievingError= message
    if (success_message)
        h1#h1retrievingSuccess= success_message
    div#retrieving_form
        div.retrieving_form
            h2#h2retrieving Retrieving Username
            div#line2
            p#pretrieving Username will be sent to your email
            div#signup_form
        
                //Insert form
                form(method='POST' action='/retrieving_username' autocomplete='off')
                    div.retrieve_form
                        input.signup_input(type='email' placeholder='Email' name='email' required)
                    div.retrieve_form
                        input.signup_input(type='password' placeholder='Password' name='password' required)
                    div#signup_submit
                        button#retrieving_submit_button(type='submit' value='signup') Username

        div.retrieving_form
            h3#h2retrievingp Change password
            div#line2
            p#pretrievingp It will open other page
            div#signup_form
        
                //Insert form
                form(method='POST' action='/update_password' autocomplete='off')
                    div.retrieve_form
                        input.signup_input(type='email' placeholder='Email' name='email' required)
                    div.retrieve_form
                        input.signup_input(type='text' placeholder='Username' name='username' required)
                    div#signup_submit
                        button#retrieving_submit_button(type='submit' value='update') Password

        div.retrieving_form
            h4#h2retrievingd Delete account
            div#line2
            p#pretrievingd It will delete your items
            div#signup_form
        
                //Insert form
                form(method='POST' action='/delete_account' autocomplete='off')
                    div.retrieve_form
                        input.signup_input(type='email' placeholder='Email' name='email' required)
                    div.retrieve_form
                        input.signup_input(type='text' placeholder='Username' name='username' required)
                    div#signup_submit
                        button#retrieving_submit_button(type='submit' value='delete') Delete

    //-link to the footer.pug file in the partials folder in views
    include partials/footer
